@CHARSET "UTF-8";
/* Généralités pour toute la page
------------------------------------------------------------------------*/
html {
     margin-left:15%;
     margin-right:15%;
     text-align:center;
}
/* Bandeau de la page
------------------------------------------------------------------------*/
header {
	
	margin-left:10%;
	margin-right:10%;
	padding-bottom:30px;
	text-align:center;
	color:white;
	background-color:black;
	font-weight:bold;
	font-family:Arial,sans-serif;
	border-radius:15px;
}
body h1 {
	font-size:3em;
	}
/* Généralité pour les titre contenu dans le body
------------------------------------------------------------------------*/
body h3 {
	font-size:1.5em;
	text-decoration:underline;
}
body h4 {
	font-size:1em;
}
